<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Audio APP</name>

<description>
Audio APP.
</description>

<author href="https://example.com" email="jonathanccoicca@gmail.com">
Jonathan David Ccoicca Jiménez
</author>

<icon src="img/music.png" />

<feature name="Media">
    <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
</feature>


</widget>
